<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412823876115-51lpa27iopoig9qhg147hrg0jm2tdg64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412823876115-51lpa27iopoig9qhg147hrg0jm2tdg64</string>
	<key>API_KEY</key>
	<string>AIzaSyBw7WCo_YbhZnThT92o8bSs5-Uu2LqOnU8</string>
	<key>GCM_SENDER_ID</key>
	<string>412823876115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.untitledkingdom.rafalwojtus.Fitmania.staging</string>
	<key>PROJECT_ID</key>
	<string>fitmania-59451</string>
	<key>STORAGE_BUCKET</key>
	<string>fitmania-59451.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412823876115:ios:5d6e0c48653d2a28d5c5e6</string>
</dict>
</plist>